* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightsteelblue;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vh;
  text-align: center;
  height: 95vh;
}

#login-form {
  margin: 20vh auto;
  padding: 4vh 4vw;
  background-color: peru;
  width: 40vw;
  height: 50vh;
}

#login-form h1 {
  margin: 5vh 0;
}

#login-form button {
  margin-top: 4vh;
}

.logout-button {
  position: absolute;
  right: 1vw;
  top: 2vh;
}

.width-80 {
  width: 80vw;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.label-input-div {
  padding: 1vw;
}

input {
  padding: 1vh;
  margin-left: 2vw;
}

#main-container {
  height: 80vh;
  margin: 2vh 0;
  border: 4px solid black;
  display: flex;
}

.pedido-producto-listado {
  background-color: steelblue;
  padding: 1vh 1vw;
  margin: 2vh 1vw;
}

.producto-seleccionado {
  background-color: greenyellow;
  padding: 1vh 1vw;
  margin: 0 0 0 1vw;
}

#pedidos-lista-productos {
  max-height: 80vh;
  border-right: 4px solid black;
  flex: 2;
  overflow: auto;
  overflow-x: hidden;
}

#pedidos-lista-pedido {
  max-height: 80vh;
  flex: 3;
  text-align: left;
  padding: 1vh 1vw;
}

#pedidos-bloque {
  height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.seccion-seleccionada {
  background-color: red;
}

tr {
  background-color: #aaa
}

th, td {
  text-align: center;
  padding: 1vh 1vw;
  word-break: break-all;  /*Para que el texto se ajuste al ancho de la columna y se vaya a la siguiente linea*/
}

.gestion-producto-elemento {
  display: block;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  border: 2px solid black;
}

.gestion-form {
  margin: 2vh auto;
  padding: 2vh 2vw;
  background-color: peru;
  width: 40vw;
  height: fit-content;
}

.gestion-form h2 {
  margin: 4vh 0;
}

.button {
  border-radius: 20px;
  background-color: powderblue;
}

.button-div {
  margin-top: 4vh;
}