.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    padding: 1rem;
    min-height: 250px;
    position: absolute;
    top: 10%;
    left: 34%;
    background-color: #999;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.modal div {
    font-size: 0.9rem;
    color: black;
    margin-top: 4rem;
}

.btn {
    width: 40%;
    cursor: pointer;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 0.8rem 1.4rem;
    margin: 1vh 1vw;
    font-weight: 700;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
}

.accept-btn {
    background-color: #4CAF50;
}

.cancel-btn {
    background-color: #f44336;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}